<div>
    <h1>Tweets</h1>
    <div tweet-box>

    </div>

    <div class="col-xs-4">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchTweets">
    </div>

    <div class="col-xs-4">
        <select class="form-control" ng-model="selectedCountry" ng-options=" country.name group by country.continent for country in countries">
            <option value="">Please Select</option>
        </select>{{selectedCountry}}
    </div>

    <br>
    <div class="col-xs-6" ng-repeat="tweet in tweets|filter:{tweetedBy:searchTweets}|orderBy:'-tweetedBy'">
        <div class="panel panel-default">
            <div class="panel-heading">{{tweet.tweetedBy|uppercase}}</div>
            <div class="panel-body">
                {{tweet.tweetText|limitTo:10}}
            </div>
            <div class="panel-footer">
                <div>{{tweet.tweetedDate|date:"dd/MM/yyyy HH:MM:ss"}}</div>
                <div>{{tweet.phoneNumber}}</div>
            </div>
        </div>
    </div>
</div>
